[Desktop Entry]
Name=Calculator
Comment=Basic calculator
Icon=ivs_calc_starymedved
Exec=ivs_calc_starymedved
StartupWMClass=ivs_calc_starymedved
Terminal=false
Type=Application
Categories=Development
GenericName=ivs_calc_starymedved
Keywords=calc; calculator
